 /* Border for the selection button */    
.button-h{
    padding:0.35em 1.2em;
    background-color: #FF6F59;
    color: white;
    width:200px;
    height: 40px;
    opacity: 0.8;
    border-style: solid;
    border-width: thin;
    border-width: 1px;
    border-color: #FF6F59;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.button-h:hover{
    opacity: 1; 
    cursor: pointer;
}
.small{
    font-size: 1em;
    font-weight: 300;
}
.v-small{
    font-size: 0.75em;
    font-weight: 300;
}
.shadow-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mid{
    font-size: 1.5em;
    font-weight: 300;
}
#description{
    width: 100%;
    margin-top: 25px;
}
#aInfo {
    margin-top: 50px;
}
.info-overlay{
    position: absolute;
    margin: 25px; 
    width: 20%;
    padding: 30px;
    text-align: center;
    opacity: 0.8;
    display: inline-block;
}
.padded{
    padding: 10px;
}
.f-image{
    width: 70%;
    height: auto;
    margin:auto;
    padding: 20px;
}
.infobox-h{
    /*min-width: 25%;*/
    width: 25%;
    padding: 20px;
    height: 90vh;
    overflow:auto;
}